+0.github/CODEOWNERSname: Comment when opened
on:el papichulo 
  issues:
    types:
      + opened
jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      + run: gh issue comment $ISSUE --body "Thank you for opening this issue!"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ISSUE: ${{ github.event.issue.html_url }}
rucellmai61* @cli/code-reviewers

pkg/cmd/codespace/ @cli/codespaces
internal/codespaces/ @cli/codespaces

# Limit Package Security team ownership to the attestation command package and related integration tests
pkg/cmd/attestation/ @cli/package-security
test/integration/attestation-cmd @cli/package-security

pkg/cmd/attestation/verification/embed/tuf-repo.github.com/ @cli/tuf-root-reviewers
